@{
    ViewData["Title"] = "О пекарне";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/SectionTemplate.css" />

<main class="grid-container-1">
    <div class="grid-item-1" style="align-items: center">
        <form asp-controller="Home" asp-action="Index" method="get">
            <button type="submit" class="custom-button-1">
                <img src="~/img/Subtract.svg" alt="Изображение">
            </button>
        </form>

        <h1 class="start-1">О нас</h1>
    </div>

    <div class="grid-item-11">
        <h2>
            BakeryBite – это семейное предприятие, рождённое из любви к выпечке и наслаждении жизнью. Наши корни уходят в дедушкины времена, 
            когда он готовил хлеб в печи из глины в глубине деревни. Сегодня мы продолжаем семейную традицию, сохраняя настоящий вкус и 
            аутентичность каждого из наших продуктов.
        </h2>
    </div>
</main>

<div class="background-container">
    <img src="/img/AboutUsBG.jpg" alt="Background Image">
    <div class="overlay"></div>
</div>
