@{
    ViewData["Title"] = "Контакты";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/SectionTemplate.css" />

<main class="grid-container">
    <div class="grid-item" style="align-items: center">
        <form asp-controller="Home" asp-action="Index" method="get">
            <button type="submit" class="custom-button">
                <img src="~/img/Subtract.svg" alt="Изображение">
            </button>
        </form>

        <h1 class="start">Контакты</h1>
    </div>
</main>