@{
    ViewData["Title"] = "FAQ";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/SectionTemplate.css" />

<main class="grid-container-1">
    <div class="grid-item-1">
        <form asp-controller="Home" asp-action="Index" method="get">
            <button type="submit" class="custom-button-1">
                <img src="~/img/Subtract.svg" alt="Изображение">
            </button>
        </form>

        <h1 class="start-1">Часто Задаваемые Вопросы</h1>
    </div>

    <div class="faq-item">
        <h2 class="question">Как оформить заказ на вашем сайте?</h2>
        <p class="answer">
            Для оформления заказа на нашем сайте BakeryBite, просто перейдите в разделы с товарами, выберите желаемые товары, добавьте их в корзину, а затем перейдите в корзину для оформления заказа. Заполните необходимую информацию о доставке и оплате, а затем подтвердите заказ.
        </p>
    </div>

    <div class="faq-item">
        <h2 class="question">Как происходит доставка продуктов?</h2>
        <p class="answer">
            Мы осуществляем доставку наших продуктов по указанному адресу согласно выбранному времени доставки. Мы работаем с надежными службами доставки, чтобы гарантировать своевременное и качественное доставку заказов нашим клиентам.
        </p>
    </div>

    <div class="faq-item">
        <h2 class="question">Как часто обновляется ваше меню?</h2>
        <p class="answer">
            Наше меню регулярно обновляется с учетом сезонности продуктов и пожеланий наших клиентов. Мы стараемся предложить всегда свежие и разнообразные блюда, чтобы удовлетворить вкусы наших гостей.
        </p>
    </div>
</main>