@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/SectionTemplate.css" />

<main class="grid-container-1">
    <div class="grid-item-1" style="align-items: center">
        <form asp-controller="Home" asp-action="Index" method="get">
            <button type="submit" class="custom-button-1">
                <img src="~/img/Subtract.svg" alt="Изображение">
            </button>
        </form>

        <h1 class="start-1">Политика конфиденциальности</h1>
    </div>

    <div class="grid-item-11">
        <ul>
            <li>
                <h2>Сбор информации</h2>
                Мы собираем только необходимую информацию для регистрации и обработки ваших заказов, такую как имя, адрес электронной почты и номер телефона.
            </li>
            <li>
                <h2>Использование информации</h2>
                Ваша личная информация используется исключительно для обслуживания ваших запросов и оформления заказов. Мы не передаем вашу информацию третьим лицам без вашего согласия.
            </li>
            <li>
                <h2>Защита данных</h2>
                Мы принимаем меры для защиты вашей личной информации от несанкционированного доступа и использования.
            </li>
            <li>
                <h2>Согласие пользователя</h2>
                Нажимая кнопку "Зарегистрироваться", вы подтверждаете, что ознакомились с нашей политикой конфиденциальности и соглашаетесь с условиями обработки ваших данных.
            </li>
        </ul>
    </div>
</main>
