@{
    ViewData["Title"] = "Публичная Оферта";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/SectionTemplate.css" />

<main class="grid-container-1">
    <div class="grid-item-1" style="align-items: center">
        <form asp-controller="Home" asp-action="Index" method="get">
            <button type="submit" class="custom-button-1">
                <img src="~/img/Subtract.svg" alt="Изображение">
            </button>
        </form>

        <h1 class="start-1">Публичная Оферта</h1>
    </div>

    <div class="grid-item-11">
        <h2>
            Этот раздел пока что пустой, но обещает пополнятся!
        </h2>
    </div>
</main>