@{
    ViewData["Title"] = "Авторизация";
    Layout = "_LayoutSecond";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/Authorize.css" />
@model BakeryBite.Data.LoginViewModel

<main>
    <div class="auth-container">
        <div class="auth-form">
            <h2 class="auth-title">Авторизация</h2>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label for="loginInput">Логин</label>
                    <input type="text" class="form-control" id="loginInput" name="UserName" placeholder="Введите ваш логин">
                    <span class="text-error">@Html.ValidationMessageFor(model => model.UserName)</span>
                </div>

                <div class="form-group">
                    <label for="passwordInput">Пароль</label>
                    <input type="password" class="form-control" id="passwordInput" name="Password" placeholder="Введите ваш пароль">
                    <span class="text-error">@Html.ValidationMessageFor(model => model.Password)</span>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Вход</button>
            }
        </div>
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('form').submit(function (e) {
            var userName = $('#loginInput').val();
            var password = $('#passwordInput').val();

            if (userName === '') {
                e.preventDefault();
                alert('Пожалуйста, введите ваш логин.');
            }

            if (password === '') {
                e.preventDefault();
                alert('Пожалуйста, введите ваш пароль.');
            }
        });
    });
</script>
