@{
    ViewData["Title"] = "Авторизация";
    Layout = "_LayoutSecond";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/Authorize.css" />
@model BakeryBite.Data.LoginViewModel

<main>
    <div class="auth-container">
        <div class="auth-form">
            <h2 class="auth-title">Авторизация</h2>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label for="loginInput">Логин</label>
                    <input type="text" class="form-control" id="loginInput" name="UserName" placeholder="Введите ваш логин" required>
                </div>

                <div class="form-group">
                    <label for="passwordInput">Пароль</label>
                    <input type="password" class="form-control" id="passwordInput" name="Password" placeholder="Введите ваш пароль" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Вход</button>
            }
            <a href="@Url.Action("Registration", "Home")" class="registration-link">Зарегистрируйтесь</a>
        </div>
    </div>
</main>