@{
    ViewData["Title"] = "Выпечка";
}
@* @Model List<foodItems> *@
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/FoodTemplate.css" />

<main class="grid-container">
    <div class="grid-item">
        <form asp-controller="Home" asp-action="Index" method="get">
            <button type="submit" class="custom-button">
                <img src="~/img/Subtract.svg" alt="Изображение">
            </button>
        </form>

        <h1 class="start">Выпечка</h1>
    </div>
    <div class="grid-item">
        <div class="base">
            <div class="image">
            </div>
        </div>
        <div class="base">
            <div class="image">
            </div>
        </div>
        <div class="base">
            <div class="image">
            </div>
        </div>
        <div class="base">
            <div class="image">
            </div>
        </div>
        <div class="base">
            <div class="image">
            </div>
        </div>
        <div class="base">
            <div class="image">
            </div>
        </div>
        <div class="base">
            <div class="image">
            </div>
        </div>
        <div class="base">
            <div class="image">
            </div>
        </div>
        <div class="base">
            <div class="image">
            </div>
        </div>
    </div>
</main>