@{
    ViewData["Title"] = "Главная страница";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/Main.css" />
@model List<BakeryBite.Data.CategoryViewModel>

<div class="category-buttons-container">
    @foreach (var categoryViewModel in Model)
    {
        <div class="category-button">
            <form method="get" action="@Url.Action(categoryViewModel.CategoryName, "Home")">
                <input type="hidden" name="categoryName" value="@categoryViewModel.CategoryName" />
                <button type="submit" class="category-button-content" style="background-image: url('data:image;base64,@categoryViewModel.ImageTitle');">
                    <span>@categoryViewModel.CategoryRuName</span>
                </button>
            </form>
        </div>
    }
</div>

<div class="background-container">
    <img src="/img/MainBG.jpg" alt="Background Image">
    <div class="overlay"></div>
</div>
