@model BakeryBite.Data.OrderConfirmationViewModel

@{
    ViewData["Title"] = "Подтверждение заказа";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/EditorTemplate.css" />

<h1>Оформление заказа</h1>

<form method="post" asp-action="ConfirmOrder" asp-controller="Home">
    <div class="form-group">
        <label asp-for="Name">Имя (на русском):</label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Почта:</label>
        <input asp-for="Email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address">Адрес доставки:</label>
        <input asp-for="Address" class="form-control" required />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone">Номер телефона:</label>
        <input asp-for="Phone" class="form-control" required />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PaymentMethod">Способ оплаты:</label>
        <select asp-for="PaymentMethod" class="form-control" required>
            <option value="">Выберите способ оплаты</option>
            <option value="Картой">Картой</option>
            <option value="Наличными">Наличными</option>
        </select>
        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Подтвердить заказ</button>
</form>