@{
    ViewData["Title"] = "Регистрация";
    Layout = "_LayoutSecond";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/Authorize.css" />
@model BakeryBite.Models.User

<main>
    <div class="auth-container">
        <div class="auth-form">
            <h2 class="auth-title">Регистрация</h2>
            <form asp-action="Register" asp-controller="Home" method="post">
                <div class="form-group">
                    <label asp-for="Name">Имя</label>
                    <input asp-for="Name" class="form-control" placeholder="Введите ваше имя" required maxlength="32" pattern="^[а-яА-ЯёЁ]+$" title="Имя должно содержать только русские буквы и быть не длиннее 32 символов">
                </div>

                <div class="form-group">
                    <label asp-for="Surname">Фамилия</label>
                    <input asp-for="Surname" class="form-control" placeholder="Введите вашу фамилию" required maxlength="32" pattern="^[а-яА-ЯёЁ]+$" title="Фамилия должна содержать только русские буквы и быть не длиннее 32 символов">
                </div>

                <div class="form-group">
                    <label asp-for="Patronymic">Отчество</label>
                    <input asp-for="Patronymic" class="form-control" placeholder="Введите ваше отчество" required maxlength="32" pattern="^[а-яА-ЯёЁ]+$" title="Отчество должно содержать только русские буквы и быть не длиннее 32 символов">
                </div>

                <div class="form-group">
                    <label asp-for="Email">Почта</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Введите вашу почту" required>
                    <span asp-validation-for="Email" class="text-error"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Phone">Номер телефона</label>
                    <input asp-for="Phone" class="form-control" placeholder="Введите ваш номер телефона" required pattern="[0-9]{11}" title="Номер телефона должен состоять из 11 цифр" type="tel">
                    <span asp-validation-for="Phone" class="text-error"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Login">Логин</label>
                    <input asp-for="Login" class="form-control" placeholder="Введите ваш логин" required pattern="[a-zA-Z0-9]+" maxlength="32" title="Логин должен содержать только латинские буквы и цифры, без пробелов">
                    <span asp-validation-for="Login" class="text-error"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password">Пароль</label>
                    <input asp-for="Password" class="form-control" placeholder="Введите ваш пароль" required type="password"
                           pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*"
                           title="Пароль должен содержать хотя бы одну маленькую букву, одну большую букву, одну цифру и один специальный символ. Минимальная длина - 8 символов."
                           maxlength="32" minlength="8">
                </div>

                <div class="form-group">
                    <input type="checkbox" id="agreeToPolicy" name="AgreeToPolicy" required>
                    <label for="agreeToPolicy">Я согласен с <a href="/Sections/PrivacyPolicy" target="_blank">Политикой конфиденциальности</a> и условиями обработки данных</label>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</main>
