<!DOCTYPE html>
@using BakeryBite.Data
@inject ApplicationContext DbContext

@{
    var categoryViewModels = new List<CategoryViewModel>();

    var categoryIds = DbContext.Product.Select(p => p.CategoryId).Distinct().ToList();

    foreach (var categoryId in categoryIds)
    {
        string categoryName = $"Food{categoryId}";

        var randomProduct = DbContext.Product
            .Where(p => p.CategoryId == categoryId && !string.IsNullOrEmpty(p.Avatar))
            .OrderBy(p => Guid.NewGuid())
            .FirstOrDefault();

        if (randomProduct != null)
        {
            var categoryViewModel = new CategoryViewModel
                    {
                        CategoryName = categoryName,
                        CategoryRuName = GetCategoryRuName(categoryName),
                        Avatar = randomProduct.Avatar
                    };

            categoryViewModels.Add(categoryViewModel);
        }
        else
        {
            System.Diagnostics.Debug.WriteLine($"No product found for category {categoryName}");
        }
    }
}

@functions{
    public string GetCategoryRuName(string categoryName)
    {
        return categoryName switch
        {
            "Food1" => "Хлеб",
            "Food2" => "Торты",
            "Food3" => "Печенье",
            "Food4" => "Сладости",
            "Food5" => "Пироги",
            "Food6" => "Напитки",
            _ => categoryName 
        };
    }
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BakeryBite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Design.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/img/BakeryBiteLogoCroissant.png" alt="BakeryBite Logo" class="s_logo" width="30px" height="30px">
                </a>
                @foreach (var category in categoryViewModels)
                {
                    <li><a asp-area="" asp-controller="Home" asp-action="@category.CategoryName">@category.CategoryRuName</a></li>
                }
            </ul>
        </nav>
        <nav>
            <ul>
                <li>
                    <div>
                        <form asp-controller="Home" asp-action="Authorize" method="get" class="icon">
                            <button type="submit" class="ucion">
                                <img src="~/img/User.svg" alt="Изображение">
                            </button>
                        </form>
                    </div>
                </li>
                <li>
                    <div>
                        <form asp-controller="Home" asp-action="ShoppingCart" method="get" class="icon">
                            <button type="submit" class="ucion">
                                <img src="~/img/Cart.svg" alt="Изображение">
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container footer-left">
            <img src="~/img/BakeryBiteLogo.png" alt="BakeryBite Logo" class="logo" width="200px" height="auto   ">
            &copy; 2024 - BakeryBite
        </div>
        <div class="footer-center">
            <a asp-area="" asp-controller="Sections" asp-action="FAQ">Часто задаваемые вопросы</a>
            <a asp-area="" asp-controller="Sections" asp-action="PublicOffer">Публичная оферта</a>
            <a asp-area="" asp-controller="Sections" asp-action="PrivacyPolicy">Политика конфиденциальности</a>
            <a asp-area="" asp-controller="Sections" asp-action="AboutUs">О нас</a>
            <a asp-area="" asp-controller="Sections" asp-action="Contacts">Контакты</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>