<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BakeryBite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Design.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <img src="~/img/BakeryBiteLogoCroissant.png" alt="BakeryBite Logo" class="s_logo" width="30px" height="30px">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Домой</a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>
                    <a href="javascript:void(0);" onclick="goBack();">Вернуться назад</a>
                </li>
            </ul>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container footer-left">
            <img src="~/img/BakeryBiteLogo.png" alt="BakeryBite Logo" class="logo" width="200px" height="auto   ">
            &copy; 2024 - BakeryBite
        </div>
        <div class="footer-center">
            <a asp-area="" asp-controller="Sections" asp-action="FAQ">Часто задаваемые вопросы</a>
            <a asp-area="" asp-controller="Sections" asp-action="PublicOffer">Публичная оферта</a>
            <a asp-area="" asp-controller="Sections" asp-action="PrivacyPolicy">Политика конфиденциальности</a>
            <a asp-area="" asp-controller="Sections" asp-action="AboutUs">О нас</a>
            <a asp-area="" asp-controller="Sections" asp-action="Contacts">Контакты</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>

<script>
    function loadPageContent(url) {
        $.ajax({
            url: url,
            type: 'GET',
            success: function (response) {
                $('#main-content').html(response);
            },
            error: function (xhr, status, error) {
                console.error('Ошибка при загрузке страницы:', error);
            }
        });
    }
</script>