@model BakeryBite.Data.ProductViewModel

@{
    ViewData["Title"] = "Редактирование товара";
    Layout = "_LayoutSecond";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/EditorTemplate.css" />

<h2>Редактирование товара</h2>

<form asp-action="Edit" asp-controller="Control" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Product.Id" />

    <div class="form-group">
        <label asp-for="Product.Name">Название товара:</label>
        <input asp-for="Product.Name" class="form-control" placeholder="Введите название товара"
               required maxlength="64" title="Название должно быть не длиннее 64 символов" pattern="^[а-яА-Яa-zA-Z ]+$">
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.Weight">Вес товара (г):</label>
        <input asp-for="Product.Weight" class="form-control" value="@Convert.ToInt32(Model.Product.Weight)"
               placeholder="Введите стоимость товара" required maxlength="9" title="Вес должен содержать только цифры" pattern="^[0-9]+$" />
        <span asp-validation-for="Product.Weight" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.Description">Описание товара:</label>
        <textarea asp-for="Product.Description" class="form-control" placeholder="Введите описание товара"
                  required maxlength="128" title="Описание должно быть не длиннее 128 символов" pattern="^[а-яА-Яa-zA-Z ]+$"></textarea>
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.Cost">Стоимость товара (руб.):</label>
        <input asp-for="Product.Cost" class="form-control" placeholder="Введите стоимость товара" value="@Model.Product.Cost.ToString("0")"
               required maxlength="9" title="Вес должен содержать только цифры" pattern="^[0-9]+$">
        <span asp-validation-for="Product.Cost" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.CategoryId">Категория товара:</label>
        <select asp-for="Product.CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control">
            <option value="" disabled selected>Выберите категорию</option>
        </select>
        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image" class="control-label">Изображение товара:</label>
        <input type="file" id="Image" name="Image" accept="image/*" class="form-control-file" />
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>